
*{
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
#background{
	 width:2000px; 
	 height: 1500px;
	 background: black;
	 position: fixed;
	 left: 0;
	 top: 0;

}
#background img{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}
#container{
	z-index: 10;
	width: 100%;
	height: 250px;
	margin:auto;
	color:white;
	/*background: gray;*/
	position: relative;
}
header{
	width: 100%;
	height: 145px;
	margin-top: 80px;
	/*background: red;*/
	text-align: center;

}
header .nav_btn
{
	width: 140px;
	height: 140px;
	border-radius: 75px; 
	margin-left: 4%;
	border: 5px solid ;
	text-align: center;
	float: left;
	line-height:140px;
	font-size: 1em;

}
header #Earth
{
	border-color: #55AAFF;
}
header #Moon
{
	border-color: #C3C3C3;
}
header #Mars
{
	border-color: #ED3E17;
}
header #Jupiter
{
	border-color: #F79C12;
}
header .nav_btn a{
	color: white;
	height: 100%;
	width: 100%;
	display: block;
}
@Keyframes planetRot{
  from {
  	transform: rotate(0deg);
  	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
  }
  to { 
  	transform: rotate(360deg);
  	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
  }
}
@-webkit-Keyframes planetRot{
  from {
  	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to { 
  	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
#planetBox{
	background: red;
	z-index: 20;
	position: relative;
	margin-top: 100px;
	margin-left: 20%;
}
#planetBox #Shadow{
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0;
}
#planetBox .planet{
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0;
	animation:planetRot 20s linear 0s infinite normal;
	-ms-animation:planetRot 20s linear 0s infinite normal;
	-moz-animation:planetRot 20s linear 0s infinite normal;
	-webkit-animation:planetRot 20s linear 0s infinite normal;
}
