
#container{
		z-index: 10;
		width: 100%;
		
		margin:auto;
		color:white;
		/*background: gray;*/
		position: relative;
	}
header{
		width: 100%;
		height: 140px;
		margin-top: 30px;
		/*background: red;*/
	}
header .nav_btn
{
	width: 150px;
	height: 150px;
	border-radius: 80px;
	margin-top: 60px;
	margin-right: 0;
	margin-left: 16%;
	border: 5px solid white;
	text-align: center;
	float: left;
	line-height: 150px;
	font-size: 1em;	
}
header .nav_btn a{
	color: white;
	height: 100%;
	width: 100%;
	display: block;
}
#planetBox{
	margin-top: 250px;
	margin-left: 25%;
}
#planetBox #Shadow{
	width: 300px;
	height: 300px;
}
#planetBox .planet{
	width: 300px;
	height: 300px;
	position: absolute;
	opacity: 0;
	animation:planetRot 25s linear 0s infinite normal;
	-ms-animation:planetRot 25s linear 0s infinite normal;
	-moz-animation:planetRot 25s linear 0s infinite normal;
	-webkit-animation:planetRot 25s linear 0s infinite normal;
}


@media screen and (max-width:480px){
	header{
			width: 100%;
			height: 43px;
			margin-top: 30px;
			/*background: red;*/
		}
	header .nav_btn
	{
		width: 100px;
		height: 100px;
		border-radius: 55px;
		margin-top: 60px;
		margin-right: 0;
		margin-left: 40%;
		border: 5px solid white;
		text-align: center;
		float: left;
		line-height: 100px;
		font-size: 1.1em;	
	}
	#planetBox{
		margin-top: -80px;
		margin-left: 0%;
	}
	#planetBox #Shadow{
		width: 0px;
		height:0px;
	}
	#planetBox .planet{
		width: 400px;
		height: 400px;
		position: absolute;
		opacity: 0;
		animation:planetRot 40s linear 0s infinite normal;
		-ms-animation:planetRot 40s linear 0s infinite normal;
		-moz-animation:planetRot 40s linear 0s infinite normal;
		-webkit-animation:planetRot 40s linear 0s infinite normal;	
	}

}
